@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 32px;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.purple-text {
  color: #6415ff;
}

.dark-text {
  color: #243e63;
}

.buttons {
  text-align: center;
  background-color: #6415ff;
  padding: 12px 32px;
  border: none;
  border-radius: 99999px;
  color: white;
  font-weight: 700;
  transition: all 300ms ease;
}

.buttons:hover {
  background-color: rgba(60, 13, 153);
}

p {
  line-height: 1.5;
}

.text-align {
  text-align: center;
}

/*
NAVIGATION
*/

nav {
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  padding: 0 0 4px;
}

.nav-logo-text {
  font-size: 24px;
  color: #243e63;
  font-weight: 900;
  transition: all 300 ms ease;
}

.nav-logo-text:hover {
  color: rgba(100, 21, 255);
}

.nav-logo-img{
    width: 40px;
    height: 40px;
    margin: 0 12px 0 0;
}

.nav-list-link{
    display: flex;
    align-items: center;
}

.nav-link{
    font-size: 14px;
    font-weight: 600;
}

.nav-link-anchor{
    margin: 0 24px;
    padding: 0 0 4px;
    transition: all 300ms ease;
    line-height: 16px;
    color: #243e63;
}

.nav-link-anchor:hover{
    color: rgba(100,21,255);
}

.nav-link-anchor-secondary{
    margin: 0 24px 0 48px;
    color: #243e63;
}

.nav-link-anchor-primary{
    padding: 12px 32px;
    color: white;
    background-color: #6415ff;
    border-radius: 9999px;
    transition: all 300ms ease;
}

.nav-link-anchor-primary:hover{
    background-color: rgba(80,17,204)
}

.nav-link-anchor-primary:visited{
    color: white;
}

/*
BURGER MENU
*/
.button-menu{
    background-color: transparent;
    border: none;
    text-align: center;
    color: #7342d6;
    font-size: 24px;
    display: none;
}

.button-menu-close{
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 24px;
    padding: 8px;
}

.menu-backdrop{
    position: fixed;
    background-color: white;
    top: 10px;
    right: 8px;
    left: 0;
    right: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    display: flex;
    transform: translateX(450%);
    margin: 5px;
    border: solid 2px grap;
    border-radius: 20px;
    visibility: hidden;
    transition: all 300ms ease;
    overflow: hidden;
}

.menu-open{
    max-height: 100vh;
}

.menu-open .menu-backdrop{
    transform: translateX(0);
    visibility: visible;
}

.menu-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 32px;
}

.menu-items{
    padding: 0 0 4px;
    margin: 0 0 20px;
}

.menu-item{
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
}




/*
NAVIGATION
*/
/*
NAVIGATION
*/
/*
NAVIGATION
*/
/*
NAVIGATION
*/
/*
NAVIGATION
*/
/*
NAVIGATION
*/
